@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
	background: url("../images/congruent_pentagon.png");
	background-position: center;*/
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
	text-align: justify;
}

header p{
	font-weight: bolder; 
	margin:20px;
	padding:0 10px;
	text-align: right;
}

header a{
		text-decoration: none;
		padding-right: 10px;
}

h1,h2,h3{
	font-family: 'Playfair Display', serif;
}
h1{
	font-size:5em;
	color: #56A902;
	margin-top: 20px;
	padding: 0 0 0 18px;
}
h2{
	margin-top: -50px;
	padding-left: 20px;
	font-size: 1.75em;
}
div{
	 width: 650px;
	 height:500px;
	 /*background: red;*/
	 float: left;
}
p{
	margin-top:30px;
	padding-left: 25px;
}
h3{
	font-size:1.5em;
	padding-left: 25px;
	margin-top: 275px;
}
#rightDiv img{
	padding-left: 150px;
	margin-top: -80px;
}
#rightDiv p{
	margin-top: 20px;
	padding-left: 200px;
}
#rightDiv input[type=button]{
	padding:15px;
	font-size:1.5em;
	background: #AACD6E;	
	border-radius:20px;
	border-color:black;
	font-weight: bolder;
}
#rightDiv a{
	text-decoration: none;
	font-weight: bolder;
	font-size:1.5em;
}

