@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
	background: url("../images/congruent_pentagon.png");
	/*background-position: center;*/
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	text-align: justify;
}
#wrapper{
	width:100%;
	max-width: 1200px;
	margin: 0 auto;
}

header nav{
	font-weight: bolder; 
	margin:20px;
	padding:0 10px;
	text-align: right;
}

header a{
	text-decoration: none;
	padding-right: 10px;
}

h1,h2,h3{
	font-family: 'Playfair Display', serif;
}
h1{
	font-size:5em;
	color: #56A902;
	margin-top: 20px;
	padding: 0 0 0 18px;
}
h2{
	margin-top: -50px;
	padding-left: 20px;
	font-size: 1.75em;
}

p{
	margin-top:30px;
	padding-left: 25px;
}
h3{
	font-size:1.5em;
	padding-left: 25px;
	margin-top: 180px;
}

#topDiv {
	margin-top: 50px;
	/*padding-left: 80px;*/
}
#topDiv input[type=button]{
	padding:15px;
	font-size:1.5em;
	background: #56A902;
	border-radius:20px;
	border-color:black;
	font-weight: bolder;
}
#topDiv a{
	text-decoration: none;
	font-weight: bolder;
	font-size:1.5em;
}

#two_column {}
#topDiv{}

#leftDiv {
    float: left;
    width: 60%;
}

#rightDiv {
    float: right;   
    width: 32%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 800px) {


}
@media only screen and (max-width: 480px) {

	
	body{
		font-size: 12px;
	}
	h1 {
		text-align: center;
		font-size:4em;
	}
	h2 {
		font-size: 1.5em;
		text-align: justify;
		padding-top: 1em;
	}
	h2,h3,p,li {
		padding-right:20px;
	}
	img {
		display: none;
		float: none;
	}
	nav{
		display: none;
	}
	h3{
		margin-top:5em;
	}

	#topDiv{
		text-align: center;
	}
	#leftDiv {
	width:100%;
	/*margin: 0 auto;	*/
	text-align: justify;
	}
}